 language: node_js
 node_js:
    - 0.10
    - 0.11

before_install:
  - npm install gulp -g

script:
  - gulp default

notifications:
    email:
        on_success: never
        on_failure: change
